.total
{
  background-image: linear-gradient(grey,pink,silver);

  height: 90%;
margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px 15px;
  border-radius: 12px;
}
input
{
    background-color: lightcyan;
    color: lightgreen;
    padding: 12px 15px;
    border-radius: 20px;
    letter-spacing: 1px;
}
#loginButton{
    background-image: linear-gradient(orange,lime,skyblue);
    padding: 12px 15px;
    border-radius: 10px;
}
