*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
h1
{
    background-color: burlywood;
    color: black;
    padding: 10px 15px;
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}

.main{
    margin-top: 30px;
    margin-left: 50%;
    padding: 10px 12px;
}
button{
    background-color: lightgrey;
    color:black;
    padding: 12px 15px;
    border-radius: 20px;
    font-weight: bolder;
    
}
input{
    border: none;
    padding: 12px 10px;
    border-radius: 12px;
    background-color: darkcyan;
    font-weight: bold;

}
input:hover
{
    color: white;
    background-color: lightskyblue;
    
}
.anchor{
    text-decoration: none;
    
    color: blue
}